<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= product.name %></small></h4>
      <%# Display Images and Product Model %>
      <%= image_tag product.thumburl %>
      <p><%= product.model %></p>
      <p><%= product.description %></p>
    </div>
    <div class="col-xs-4">
      
      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency(product.price, :unit => "€") %></span></h4>
        <div class="input-group">
          <!-- Removing the following line removes the quantity selection box from the store front, some of this other html code is no longer needed and can be removed later -->
          <%#= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          
          <div class="input-group-btn">
            <%if signed_in?%>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary right" %>
             <%end%>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>

