<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Home', site_index_path, class: 'navbar-brand' %>
      <%= link_to 'Shop', products_path, class: 'navbar-brand' %>
      <%= link_to 'About Us', site_about_path, class: 'navbar-brand' %>
      <%= link_to 'Contact', site_contact_path, class: 'navbar-brand' %>
      
      <%# Links to filter products by gender %>
      <%= link_to 'Men', men_path, class: 'navbar-brand' %>
      <%= link_to 'Women', women_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>