<!DOCTYPE html>
<html>
  <head>
    <!--<title>Súillin Opticians</title> CHECK THIS LATER-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Suillin Opticians" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Suillin Opticians" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <div class="container">
    <div class="row">
      
      	<div>
					<img src="assets/logo.png" alt="Súillin Opticians Logo" width="330px"/>
				</div>
      <div class="col-xs-6">
        <!--<h1><%= link_to "Eyeware", root_path %></h1> -->
      </div>
      <div class="col-xs-6 text-right">
        <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
      </div>
    </div>
    <hr>
    <%= yield %>
  </div>

</body>
</html>